
@font-face {
    font-family:"Mabry Trial Light Italic";
    src:url("MabryTrial-LightItalic.woff2") format("woff2"),url("MabryTrial-LightItalic.woff") format("woff"),url("MabryTrial-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        