
@font-face {
    font-family:"Mabry Trial Bold";
    src:url("MabryTrial-Bold.woff2") format("woff2"),url("MabryTrial-Bold.woff") format("woff"),url("MabryTrial-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        