
@font-face {
    font-family:"Mabry Trial Black";
    src:url("MabryTrial-Black.woff2") format("woff2"),url("MabryTrial-Black.woff") format("woff"),url("MabryTrial-Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        