
@font-face {
    font-family:"MabryPro-Light";
    src:url("Mabry Pro Light.woff2") format("woff2"),url("Mabry Pro Light.woff") format("woff"),url("Mabry Pro Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        