@font-face {
    font-family: 'mabry';
    src: url('./mabry/mabry-light.eot');
    src: url('./mabry/mabry-light.eot?#iefix') format('embedded-opentype'),
         url('./mabry/mabry-light.woff2') format('woff2'),
         url('./mabry/mabry-light.woff') format('woff'),
         url('./mabry/mabry-light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'mabry';
    src: url('./mabry/mabry-regular.eot');
    src: url('./mabry/mabry-regular.eot?#iefix') format('embedded-opentype'),
         url('./mabry/mabry-regular.woff2') format('woff2'),
         url('./mabry/mabry-regular.woff') format('woff'),
         url('./mabry/mabry-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'mabry';
    src: url('./mabry/mabry-medium.eot');
    src: url('./mabry/mabry-medium.eot?#iefix') format('embedded-opentype'),
         url('./mabry/mabry-medium.woff2') format('woff2'),
         url('./mabry/mabry-medium.woff') format('woff'),
         url('./mabry/mabry-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'mabry';
    src: url('./mabry/mabry-bold.eot');
    src: url('./mabry/mabry-bold.eot?#iefix') format('embedded-opentype'),
         url('./mabry/mabry-bold.woff2') format('woff2'),
         url('./mabry/mabry-bold.woff') format('woff'),
         url('./mabry/mabry-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'mabry';
    src: url('./mabry/mabry-black.eot');
    src: url('./mabry/mabry-black.eot?#iefix') format('embedded-opentype'),
         url('./mabry/mabry-black.woff2') format('woff2'),
         url('./mabry/mabry-black.woff') format('woff'),
         url('./mabry/mabry-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'mabry';
    src: url('./mabry/mabry-light-italic.eot');
    src: url('./mabry/mabry-light-italic.eot?#iefix') format('embedded-opentype'),
         url('./mabry/mabry-light-italic.woff2') format('woff2'),
         url('./mabry/mabry-light-italic.woff') format('woff'),
         url('./mabry/mabry-light-italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'mabry';
    src: url('./mabry/mabry-italic.eot');
    src: url('./mabry/mabry-italic.eot?#iefix') format('embedded-opentype'),
         url('./mabry/mabry-italic.woff2') format('woff2'),
         url('./mabry/mabry-italic.woff') format('woff'),
         url('./mabry/mabry-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'mabry';
    src: url('./mabry/mabry-medium-italic.eot');
    src: url('./mabry/mabry-medium-italic.eot?#iefix') format('embedded-opentype'),
         url('./mabry/mabry-medium-italic.woff2') format('woff2'),
         url('./mabry/mabry-medium-italic.woff') format('woff'),
         url('./mabry/mabry-medium-italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'mabry';
    src: url('./mabry/mabry-bold-italic.eot');
    src: url('./mabry/mabry-bold-italic.eot?#iefix') format('embedded-opentype'),
         url('./mabry/mabry-bold-italic.woff2') format('woff2'),
         url('./mabry/mabry-bold-italic.woff') format('woff'),
         url('./mabry/mabry-bold-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'mabry';
    src: url('./mabry/mabry-black-italic.eot');
    src: url('./mabry/mabry-black-italic.eot?#iefix') format('embedded-opentype'),
         url('./mabry/mabry-black-italic.woff2') format('woff2'),
         url('./mabry/mabry-black-italic.woff') format('woff'),
         url('./mabry/mabry-black-italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family:"MabryMonoTrial";
    src:url("./MabryMonoTrial-Regular-export/MabryMonoTrial-Regular.woff2") format("woff2"),url("./MabryMonoTrial-Regular-export/MabryMonoTrial-Regular.woff") format("woff"),url("./MabryMonoTrial-Regular-export/MabryMonoTrial-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
@font-face {
    font-family:"MabryMonoTrial";
    src:url("./MabryMonoTrial-Medium-export/MabryMonoTrial-Medium.woff2") format("woff2"),url("./MabryMonoTrial-Medium-export/MabryMonoTrial-Medium.woff") format("woff"),url("./MabryMonoTrial-Medium-export/MabryMonoTrial-Medium.otf") format("opentype");
    font-style:normal;font-weight:500;
}
