
@font-face {
    font-family:"Mabry Trial Bold Italic";
    src:url("MabryTrial-BoldItalic.woff2") format("woff2"),url("MabryTrial-BoldItalic.woff") format("woff"),url("MabryTrial-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        