
@font-face {
    font-family:"Mabry Mono Trial Medium";
    src:url("MabryMonoTrial-Medium.woff2") format("woff2"),url("MabryMonoTrial-Medium.woff") format("woff"),url("MabryMonoTrial-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        