
@font-face {
    font-family:"MabryPro-Bold";
    src:url("Mabry Pro Bold.woff2") format("woff2"),url("Mabry Pro Bold.woff") format("woff"),url("Mabry Pro Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        