.header {
	background-color: #fff;
	position: fixed;
	z-index: 999;
	height: auto;
	top: 0;
	left: 0;
	right: 0;

	.inner {
		// max-width: 1200px;
		box-sizing: border-box;
		margin: 0px auto;
		padding-top: 15px;
    padding-bottom: 15px;
	}
	a {
		color: #000;
		// line-height: 24px;
		// transition: color 0.15s ease;
		display: inline-block;
		vertical-align: middle;
		font-weight: 500;
		// letter-spacing: 0.075em;
		margin-right: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: .8rem;

		&:hover {
			text-decoration: inherit;
			// color: #fff;
		}
		&:nth-child(7) {
			margin-right: 0;
		}
	}
	a.nuxt-link-exact-active:not(.btn) {
		// color: #fff;
    color: #33CF6E;
		// font-weight: 400;
	}
}
.logo {
	width: 100px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}
.view {
	// max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

img {
	max-width: 100%;
	height: auto;
}

// .fade-enter-active {
// 	transition: all 0.2s ease;
// }
// .fade-leave-active {
// 	transition: all 0.2s ease;
// 	opacity: 0;
// }
// .fade-enter {
// 	opacity: 0;
// }

@media (max-width: 860px) {
	.header {
		.inner {
      padding-top: 15px;
      padding-bottom: 15px;
		}
	}
}
@media (max-width: 600px) {
	.header {
		.inner {
      padding-top: 15px;
      padding-bottom: 15px;
		}
		a {
			margin-right: 1em;
		}
	}
}
