// Custom.scss
// Option B: Include parts of Bootstrap

// Your variable overrides
$body-bg: #fff;
$body-color: #000;
//
$yellow: #ffe600;
$green: #33cf6e;
$orange: #ff5d38;

$clay: #c43e18;
$ink: #64738A;
$graphite: #363D45;

$blueprint: #EAF1F5;
$leather: #FDE3CC;
$paper: #ECE8E0;
$paper-light: #ECE8E0;
// $paper: #f6f6f6;
$mint: #C8F7C8;

$black: #000000;


$primary: $green;
$secondary: $orange;
$warning: $yellow;
$danger: $clay;
$light: $paper-light;
$dark: $black;

$input-btn-focus-box-shadow: none;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "yellow": $yellow,
  "green":$green,
  "orange": $orange,
  "clay": $clay,
  "ink": $ink,
  "graphite": $graphite,
  "blueprint": $blueprint,
  "leather": $leather,
  "paper": $paper,
  "mint": $mint,
);

$grid-breakpoints: (
  // xs: 0,
  // sm: 576px,
  // md: 768px,
  // lg: 992px,
  // xl: 1200px
  // xs: 0,
  // sm: 576px,
  // md: 992px,
  // lg: 1200px,
  // xl: 1400px
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px
);

$container-max-widths: (
  // sm: 540px,
  // md: 720px,
  // lg: 960px,
  // xl: 1240px
  // sm: 990px,
  // md: 1199px,
  // lg: 1399px,
  // xl: 1400px
  sm: map-get($grid-breakpoints, sm) - 40,
  md: map-get($grid-breakpoints, md) - 40,
  lg: map-get($grid-breakpoints, lg) - 40,
  xl: map-get($grid-breakpoints, xl) - 40
);

$grid-gutter-width: 30px;

@media (min-width: map-get($grid-breakpoints, xl)){
    .row:not(.no-gutters) {
        // border: 1px solid #f00;
    }
    .row:not(.no-gutters) > .col,
    .row:not(.no-gutters) > [class*="col-"] {
        // border: 1px solid #f00;
    }
}
@media (max-width: map-get($grid-breakpoints, xl)){
    .row:not(.no-gutters) {
        margin-right: -$grid-gutter-width / 2;
        margin-left: -$grid-gutter-width / 2;
        // border: 1px solid #f90;
    }
    .row:not(.no-gutters) > .col,
    .row:not(.no-gutters) > [class*="col-"] {
        padding-right: $grid-gutter-width / 2;
        padding-left: $grid-gutter-width / 2;
        // border: 1px solid #f90;
    }
}
@media (max-width: map-get($grid-breakpoints, lg)){
    .row:not(.no-gutters) {
        margin-right: -$grid-gutter-width / 2;
        margin-left: -$grid-gutter-width / 2;
        // border: 1px solid #ff0;
    }
    .row:not(.no-gutters) > .col,
    .row:not(.no-gutters) > [class*="col-"] {
        padding-right: $grid-gutter-width / 2;
        padding-left: $grid-gutter-width / 2;
        // border: 1px solid #ff0;
    }
}
@media (max-width: map-get($grid-breakpoints, md)){
    .row:not(.no-gutters) {
        // border: 1px solid #0f0;
    }
    .row:not(.no-gutters) > .col,
    .row:not(.no-gutters) > [class*="col-"] {
        // border: 1px solid #0f0;
    }
}
@media (max-width: map-get($grid-breakpoints, sm)){
    .row:not(.no-gutters) {
        // border: 1px solid #00f;
    }
    .row:not(.no-gutters) > .col,
    .row:not(.no-gutters) > [class*="col-"] {
        // border: 1px solid #00f;
    }
}
// // Required
// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";
//
// // Optional
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/code";
// @import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/utilities";
//
// // html {
// //   // background: $body-bg
// //   &:after {
// //     content: "custom.scss";
// //     position: fixed;
// //     bottom: 0;
// //     left: 0;
// //     z-index: 9999;
// //     background: #ff0;
// //     background: gray("100");
// //   }
// // }
