.carousel {
  .flickity {
    &:active,
    &:focus {
      outline: none
    }
    &.dragging {
      // border: 5px solid red;
      a, .item {
        pointer-events: none;
        // opacity: 0.5;
        // border: 5px solid blue;
      }
    }
  }
  .item {
    align-self: baseline;
  }

  &.carousel-uniform-height {
    .item {
      width: auto;
      max-width: 100%;
      margin-right: 2rem;

      img {
        max-height: 50vw;
        height: 50vw !important;
        max-width: initial;
        width: initial !important;

        @include media-breakpoint-up(sm) {
          max-height: 30vw;
          height: 30vw !important;
          max-width: initial;
          width: initial !important;
        }
      }
    }

    &.is-fullscreen .item {
      height: 100%;

      img {
        max-height: 90vh;
        height: 90vh !important;
        @include media-breakpoint-up(sm) {
          max-height: 90vh;
          height: 90vh !important;
          max-width: initial;
          width: initial !important;
        }
      }
    }
  }

}
