.carousel {
  .flickity {
    &:active,
    &:focus {
      outline: none
    }
    &.dragging {
      // border: 5px solid red;
      a, .item {
        pointer-events: none;
        // opacity: 0.5;
        // border: 5px solid blue;
      }
    }
  }

  .item {
    align-self: baseline;
  }

  &.overflow-visible {
    overflow-x: visible;

    .flickity-viewport {
      overflow: visible;
      // overflow-x: visible;
      // overflow-y: hidden;
    }
  }

  &.carousel-uniform-height {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    .item {
      width: auto;
      max-width: 100%;
      margin-right: 2rem;
      @include media-breakpoint-down(sm) {
        width: 100%;
      }

      img {
        max-height: 70vh;
        height: 70vh !important;
        max-width: initial;
        width: initial !important;

        @include media-breakpoint-down(sm) {
          max-height: 60vh;
          max-height: 450px;
          height: 60vh !important;
          max-width: 100%;
          width: calc(100% - 6rem)!important;
          object-fit: contain;
          object-position: center bottom;
        }

        @include media-breakpoint-up(sm) {
          max-height: 50vh;
          max-height: 450px;
          height: 50vh !important;
          max-width: initial;
          width: initial !important;
        }
      }
    }

    &.carousel-uniform-height-sm {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
      .item {
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
        img {
          max-height: 60vh;
          height: 60vh !important;
          max-width: 100%;
          width: auto !important;
          object-fit: contain;
          object-position: center;

          @include media-breakpoint-up(sm) {
            max-height: 30vh;
            max-height: 300px;
            height: 30vh !important;
            max-width: initial;
            width: initial !important;
          }
        }
      }
    }

    .fullscreen & {

      height: 100% !important;

      .flickity {
        height: 100% !important;
      }

      .flickity-viewport {
        height: 100% !important;
      }

      .item {
        height: 100%;
        margin: 0 !important;
        width: auto;
        max-width: unset;
        display: flex;
        align-items: center;
        padding-left: 5rem;
        padding-right: 5rem;

        img {
          max-height: calc(100vh - 200px);
          height: calc(100vh - 200px) !important;
          @include media-breakpoint-up(sm) {
            max-height: calc(100vh - 200px);
            height: calc(100vh - 200px) !important;
            max-width: initial;
            width: initial !important;
          }
        }
      }
    }

    &.is-fullscreen .item {
      height: 100%;

      img {
        max-height: 90vh;
        height: 90vh !important;
        @include media-breakpoint-up(sm) {
          max-height: 90vh;
          height: 90vh !important;
          max-width: initial;
          width: initial !important;
        }
      }
    }
  }

}
