// graphite

.theme-graphite {
	width: 100%;

	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6,
	p, li, ul {
		color: white;
	}
}

.theme-graphite *::-moz-selection { /* Code for Firefox */
  color: white;
  background: lighten($graphite, 20%);
}

.theme-graphite *::selection {
  color: white;
  background: lighten($graphite, 20%);
}

.theme-graphite section {
	&.block-list {
		&.theme-dark {
			.format-button.theme-default.cta {
				color: white;
				background: $graphite;
			}
		}
	}

	&.app-newsletter {
		color: white;
		background: $graphite;
	}
}


// orange

.theme-orange {
	width: 100%;
}

.theme-orange *::-moz-selection { /* Code for Firefox */
  color: black;
  background: lighten($secondary, 20%);
}

.theme-orange *::selection {
  color: black;
  background: lighten($secondary, 20%);
}

.theme-orange section {
	&.block-list {
		&.theme-dark {
			.format-button.theme-default.cta {
				color: black;
				background: $secondary;
			}
		}
	}

	&.app-newsletter {
		color: black;
		background: $secondary;
	}
}


.block-banner {
	&.theme-Orange {
		background: $secondary;
		.format-button.theme-default.cta {
			color: white;
			background: black;
		}
	}
	&.theme-Yellow {
		background: $yellow;
		.format-button.theme-default.cta {
			color: white;
			background: black;
		}
	}
	&.theme-Green {
		background: $green;
		.format-button.theme-default.cta {
			color: white;
			background: black;
		}
	}
}



.theme-yellow {
	width: 100%;
}

.theme-yellow *::-moz-selection { /* Code for Firefox */
  color: black;
  background: lighten($yellow, 20%);
}

.theme-yellow *::selection {
  color: black;
  background: lighten($yellow, 20%);
}

.theme-yellow section {
	&.block-list {
		&.theme-dark {
			.format-button.theme-default.cta {
				color: black;
				background: $yellow;
			}
		}
	}

	&.app-newsletter {
		color: black;
		background: $yellow;
	}
}


.block-banner {
	&.theme-yellow {
		background: $yellow;
		.format-button.theme-default.cta {
			color: white;
			background: black;
		}
	}
}
