.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.page-enter,
.page-leave-to {
  opacity: 1;
}

// fade
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// transition link

.transition-link {
  display: block;
  overflow: hidden;
  // border: 1px solid yellow;

  .lazy-image {
    overflow: hidden;

    img {
      transition: .5s ease-in-out all;
    }
  }

  &:hover {
    .lazy-image {
      img {
        transform: scale(1.04)
      }
    }
  }

}
