.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.page-enter,
.page-leave-to {
  opacity: 1;
}

// fade
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// map-fade
.map-fade-enter-active, .map-fade-leave-active {
  transition: opacity .2s;
  transition-timing-function: ease-in-out;
  transition-duration: 0ms;
}
.map-fade-enter, .map-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  position: absolute;
  opacity: 0;
}

// transition link

.transition-link {
  display: block;
  overflow: hidden;
  // border: 1px solid yellow;

  div[class^="on-hover-fade-"] {
    transition: .2s ease all;
  }

  .disable-click {
    pointer-events: none
  }

  .lazy-image {
    overflow: hidden;

    img {
      transition: .5s ease-in-out all;
    }
  }

  &:hover {
    .lazy-image {
      img {
        transform: scale(1.04)
      }
    }

    .on-hover-fade-0 {
      opacity: 0 !important;
    }

    .on-hover-fade-25 {
      opacity: .25 !important;
    }

    .on-hover-fade-50 {
      opacity: .5 !important;
    }

    .on-hover-fade-75 {
      opacity: .75 !important;
    }

    .on-hover-fade-100 {
      opacity: 1 !important;
    }
  }

}
