html,
body {
	font-family: MabryTrial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 12px;
	font-weight: 200;
	color: #000;

  @include media-breakpoint-down(sm) {
		font-size: 12px;
	}
	@include media-breakpoint-up(sm) {
		font-size: 12px;
    // font-size: 1.02vw;
	}
	@include media-breakpoint-up(md) {
		font-size: 12.5px;
    // font-size: 1.02vw;
	}
	@include media-breakpoint-up(lg) {
		font-size: 13px;
    // font-size: 1.02vw;
	}
	@include media-breakpoint-up(xl) {
		font-size: 14px;
	}
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: lighten($primary, 20%);
}

::selection {
  color: black;
  background: lighten($primary, 20%);
}

body {
	// background-color: #f2f3f5;
  background: #fff;
	margin: 0;
	padding-top: 55px;
	overflow-y: scroll;
}

a {
	color: inherit;
	text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

strong, b,
.strong, .b {
  font-weight: 600
}

em, i {
  font-style: italic;
}

h1,
.h1 {
	font-weight: 500;
	line-height: 0.8;
	margin: 2rem 0 2.5rem;
	// line-height: 0.925;
  // line-height: 0.8;
  // line-height: 0.975;
  // line-height: 1;
  line-height: 0.925;
	letter-spacing: -0.05em;
  // letter-spacing: -0.02em;
  margin-left: -.035em;

  letter-spacing: 0;

	font-size: 5rem;
	@include media-breakpoint-up(md) {
		font-size: 7.5rem;
    font-size: 8rem;
    font-size: 9vw;
	}
	@include media-breakpoint-up(lg) {
		// font-size: 8rem;
    // font-size: 7.5rem;
    font-size: 8rem;
    font-size: 9vw;
	}
	@include media-breakpoint-up(xl) {
		// font-size: 10rem;
    font-size: 9rem;
	}
}

h2,
.h2 {
	font-weight: 500;
	line-height: 0.8;
	// letter-spacing: -0.05em;
	// line-height: 0.925;
	// letter-spacing: 0;
  letter-spacing: -0.01em;
  line-height: 1;
	margin: 2rem 0;
  margin-left: -.035em;

	&:first-child {
		margin-top: -0.1em;
	}

	font-size: 4rem;
	@include media-breakpoint-up(md) {
		font-size: 5rem;
	}
	@include media-breakpoint-up(lg) {
		font-size: 5.5rem;
	}
	@include media-breakpoint-up(xl) {
		font-size: 6rem;
	}
}

h3,
.h3 {
	font-weight: 500;
	line-height: 1.125;
	// text-transform: uppercase;
	letter-spacing: 0em;
	margin: 1rem 0;

	font-size: 2rem;
	@include media-breakpoint-up(md) {
		font-size: 2.5rem;
	}
	@include media-breakpoint-up(lg) {
		font-size: 2.5rem;
	}
	@include media-breakpoint-up(xl) {
		font-size: 3rem;
	}
}

h4,
.h4 {
  font-weight: 200;
	line-height: 1.45;
	letter-spacing: 0em;
	margin: 1rem 0;
	font-size: 1.5rem;
	// max-width: 20em;

	@include media-breakpoint-up(sm) {
			font-size: 2rem;
	}
}

h5,
.h5 {
  font-weight: 600;
	line-height: 1;
	letter-spacing: 0em;
	margin: 1rem 0;

	font-size: 1.25rem;
	@include media-breakpoint-up(sm) {
			font-size: 1.25rem;
	}
}

h6,
.h6 {
	font-weight: 200;
	line-height: 1.4;
	margin: 1rem 0;

	font-size: 1rem;
	@include media-breakpoint-up(sm) {
			font-size: 1rem;
	}
}

p {
	font-weight: 200;
	line-height: 1.4;
	margin: 1rem 0;

	max-width: 100%;
	font-size: 1.25rem;

	@include media-breakpoint-up(sm) {
			max-width: 40rem;
			font-size: 1.25rem;
	}
}

ul, li {
	line-height: 1.4;
	font-size: 1.25rem;
	@include media-breakpoint-up(sm) {
			font-size: 1.25rem;
	}
}
ul {
  padding-left: 1.75em;
  li {
    margin-left: 0;
    list-style: circle;
    margin-bottom: .25em
  }
}

small {
	font-weight: 200;
	line-height: 1.4;
}

blockquote {
  @extend .h3
}

.content,
article {
  p, h4 {
    font-weight: 200;
    line-height: 1.4;
    letter-spacing: 0em;
    margin: 1rem 0;
    font-size: 1.5rem;
    max-width: 20em;

    @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
    }

    max-width: 100%;
    margin-bottom: 1.5em;
  }
}


h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a,
p a,
label a {
	text-decoration: underline;
  color: inherit;
	&:hover {
		text-decoration: underline;
	}
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
  &:first-child {
    margin-top: 0
  }

	&.upper {
		text-transform: uppercase;
		letter-spacing: -0.05em;
	}
}

h1,
.h1 {
	&:first-child {
    margin-top: -0.19em
  }
}
h2,
.h2{
	&:first-child {
		margin-top: -0.2em
	}
}
h3,
.h3 {
	&:first-child {
    margin-top: -0.35em
  }
}
h4,
.h4 {
	&:first-child {
    margin-top: -0.1em
  }
}
h5,
.h5,
p,
.p {
	&:last-child {
    margin-bottom: 0
  }
}

.column {
  column-count: 1;
  column-gap: 2rem;

  &.column-count-2 { column-count: 2; }
  &.column-count-3 { column-count: 3; }
  &.column-count-4 { column-count: 4; }
  &.column-count-5 { column-count: 5; }
  &.column-count-6 { column-count: 6; }

  &.column-count-xs-2 { @include media-breakpoint-up(xs) { column-count: 2; } }
  &.column-count-xs-3 { @include media-breakpoint-up(xs) { column-count: 3; } }
  &.column-count-xs-4 { @include media-breakpoint-up(xs) { column-count: 4; } }
  &.column-count-xs-5 { @include media-breakpoint-up(xs) { column-count: 5; } }
  &.column-count-xs-6 { @include media-breakpoint-up(xs) { column-count: 6; } }

  &.column-count-sm-2 { @include media-breakpoint-up(sm) { column-count: 2; } }
  &.column-count-sm-3 { @include media-breakpoint-up(sm) { column-count: 3; } }
  &.column-count-sm-4 { @include media-breakpoint-up(sm) { column-count: 4; } }
  &.column-count-sm-5 { @include media-breakpoint-up(sm) { column-count: 5; } }
  &.column-count-sm-6 { @include media-breakpoint-up(sm) { column-count: 6; } }

  &.column-count-md-2 { @include media-breakpoint-up(md) { column-count: 2; } }
  &.column-count-md-3 { @include media-breakpoint-up(md) { column-count: 3; } }
  &.column-count-md-4 { @include media-breakpoint-up(md) { column-count: 4; } }
  &.column-count-md-5 { @include media-breakpoint-up(md) { column-count: 5; } }
  &.column-count-md-6 { @include media-breakpoint-up(md) { column-count: 6; } }

  &.column-count-lg-2 { @include media-breakpoint-up(lg) { column-count: 2; } }
  &.column-count-lg-3 { @include media-breakpoint-up(lg) { column-count: 3; } }
  &.column-count-lg-4 { @include media-breakpoint-up(lg) { column-count: 4; } }
  &.column-count-lg-5 { @include media-breakpoint-up(lg) { column-count: 5; } }
  &.column-count-lg-6 { @include media-breakpoint-up(lg) { column-count: 6; } }

  &.column-count-xl-2 { @include media-breakpoint-up(xl) { column-count: 2; } }
  &.column-count-xl-3 { @include media-breakpoint-up(xl) { column-count: 3; } }
  &.column-count-xl-4 { @include media-breakpoint-up(xl) { column-count: 4; } }
  &.column-count-xl-5 { @include media-breakpoint-up(xl) { column-count: 5; } }
  &.column-count-xl-6 { @include media-breakpoint-up(xl) { column-count: 6; } }
}
