.accessible-hide {
	-webkit-clip-path: inset(1px);
	clip-path: inset(1px);
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	display: block;
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.form-field-reset {
	-webkit-appearance: none;
	border: 0;
	border-radius: 0;
	display: inline-block;
	height: auto;
	letter-spacing: inherit;
	line-height: inherit;

	&[type="radio"],
	&[type="checkbox"] {
		display: inline;
	}
}

form {
	// margin-left: auto;
	// margin-right: auto;
	// padding-bottom: 10rem;
	&.disabled {
		input,
		label,
		button,
		textarea,
		select,
		h1,h2,h3,h4,h5,h6,p {
			opacity: 0.3;
			pointer-events: none;
		}
	}
}

@media screen and (max-width: 768px) {
	// form {
	// 	padding-left: 1.5rem;
	// 	padding-right: 1.5rem;
	// }
}

.form-border {
  border: 1px solid black !important;
  border-width: 1px;
  border-color: black;
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: 200;
}

button, input[type="submit"] {
	display: inline-block;
	font-size: 1rem;
  font-size: .875rem;
	border-radius: 1.5em;
	margin-top: 1rem;
}

button, .btn, input[type="submit"] {
  // text-transform: uppercase;
  border-radius: 2px;
	letter-spacing: 0.05em;
	font-weight: 200;
}

.btn-lg {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-size: .875rem;
}

.btn-primary {
	// color: #000;
	&:hover {
		// color: #000;
	}
}

.tags, .chips {
  display: flex;
  flex-wrap: wrap;

  .tag {
    padding: .5em 1.25em;
    margin-right: .3em;
    margin-left: 0;
    margin-bottom: .2em;
    font-size: 1rem;
    border-radius: 2em;
    border: 1.2px solid;
    white-space: nowrap;
    cursor: pointer;
    &:first-child {
      margin-left: -0.05em;
    }
    &.active,
    &:hover {
      background: black;
      border-color: black;
      color: white;
    }
  }
}

.chip {
  min-width: 2.5em;
	border-radius: 2em;
	font-size: .8em;
	padding-left: .75em;
	padding-right: .75em;
  &.chip-lg {
    font-size: 1em;
  }
  &.chip-xl {
    font-size: 1.25em;
  }
}

input {
	margin-bottom: .5rem;
}

.form-text {
	margin-bottom: 1.5rem;
}

label {
	display: block;
	margin: .5rem 0;
}

select {
  @extend .form-border;
  &.custom-select {
    padding: .75rem .75rem;
		margin-bottom: 1rem;
  }
}

.input-text,
[type="text"] {
	padding: .9rem .9rem;
	width: 100%;
	margin-bottom: 1rem;
  @extend .form-border;
}

.custom-control {
	padding-left: 2rem;

	.custom-control-label::before {
		width: 1.25rem;
		height: 1.25rem;
		border-radius: 0;
		left: -2rem;
		border-color: $black;
	}
	.custom-control-label::after {
		width: 1.25rem;
		height: 1.25rem;
		left: -2rem;
	}
}

.checkbox + label {
	cursor: pointer;
	padding: 0;
	position: relative;
	margin: 0 0;
	display: block;
	margin-bottom: .75rem
}

.checkbox + label span {
	display: inline-block;
	line-height: 1.5;
	padding-left: 30px;
}

.checkbox + label:before {
	background: #fff;
	content: "";
	display: inline-block;
	height: 20px;
	margin-bottom: 10px;
	margin-right: 20px;
	vertical-align: text-top;
	width: 20px;
	position: absolute;
	top: 0;
  border: 1px solid black;
}

.checkbox:checked + label:after {
	// box-shadow: 2px 0 0 black,4px 0 0 black,4px -2px 0 black,4px -4px 0 black,4px -6px 0 black,4px -8px 0 black;
	// content: "";
	// height: 2px;
	// left: 5px;
	// position: absolute;
	// top: 9px;
	// -webkit-transform: rotate(45deg);
	// transform: rotate(45deg);
	// width: 2px;
	content: "✓";
	height: 10px;
	line-height: 20px;
	position: absolute;
	left: 0;
	top: 2px;
	width: 18px;
	font-size: 1rem;
  font-size: .875rem;
	text-align: center;
}

.bw {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.multiply {
	mix-blend-mode: multiply;
}

.hover-bw {
  &:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}

.hover-multiply {
  &:hover {
    mix-blend-mode: multiply;
  }
}

.reset-grayscale {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
.reset-blend-mode {
  mix-blend-mode: none;
}

.bw-hoverable {
  @extend .bw;
  @extend .multiply;
  transition: .3s linear all;
  &:hover {
    @extend .reset-grayscale;
  }
}

.bg-grey {
  background: #f0f0f0
}
