.accessible-hide {
	-webkit-clip-path: inset(1px);
	clip-path: inset(1px);
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	display: block;
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.form-field-reset {
	-webkit-appearance: none;
	border: 0;
	border-radius: 0;
	display: inline-block;
	height: auto;
	letter-spacing: inherit;
	line-height: inherit;
	font-size: 1.25rem;

	&[type="radio"],
	&[type="checkbox"] {
		display: inline;
	}
}

form {
	// margin-left: auto;
	// margin-right: auto;
	// padding-bottom: 10rem;

	p, label, input {
		font-size: 1.25rem;
	}

	&.disabled {
		input,
		label,
		button,
		textarea,
		select,
		h1,h2,h3,h4,h5,h6,p {
			opacity: 0.3;
			pointer-events: none;
		}
	}
}

@media screen and (max-width: 768px) {
	// form {
	// 	padding-left: 1.5rem;
	// 	padding-right: 1.5rem;
	// }
}

.form-border {
  // border: 1px solid black !important;
  // border-width: 1px;
  // border-color: black;

	border: 0;
  border-width: 0px;
	border-bottom: 1px solid black;
  border-color: black;

	&:focus {
		border-color: black;
	}
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: 200;
}

button, input[type="submit"] {
	display: inline-block;
	font-size: 1rem;
  font-size: .875rem;
	border-radius: 1.5em;
	margin-top: 1rem;
}

button, .btn, input[type="submit"] {
  // text-transform: uppercase;
  border-radius: 2px;
	// letter-spacing: 0.05em;
	// font-weight: 200;
}

.btn-lg {
  padding: 1em 2em;
  font-size: 1rem;
  // font-size: .875rem;
}

.btn-primary {
	// color: inherit;

	&:hover {
		// color: #000;
	}
}

.tags, .chips {
  display: flex;
  flex-wrap: wrap;

  .tag {
		@extend .monospace;
		font-weight: 400;
    padding: .2em .9em .3em;
    margin-right: .4em;
    margin-left: 0;
    margin-bottom: .4em;
    font-size: 1rem;
    border-radius: 2em;
    border: 1.2px solid;
    white-space: nowrap;
    cursor: pointer;
    &:first-child {
      margin-left: -0.05em;
    }
    &.active,
    &:hover {
      background: black;
      border-color: black;
      color: white;
    }
  }
	.tag-sm {
		font-size: 0.75rem;
		@screen mobile {
			font-size: .9rem;
		}
	}
	.tag-xs {
		font-size: 0.5rem;
		@screen mobile {
			font-size: .8rem;
		}
	}
	.tag-display {
		cursor: default;
		pointer-events: none;
	}
}

.chip {
  min-width: 2.5em;
	border-radius: 2em;
	font-size: .8em;
	padding-left: .75em;
	padding-right: .75em;

	@extend .monospace;
	font-weight: 400;
	line-height: 1;
	padding-top: .1em;
	padding-bottom: .2em;

  &.chip-lg {
    font-size: 1em;
  }
  &.chip-xl {
    font-size: 1.25em;
  }
}

input {
	margin-bottom: .5rem;
}

.form-text {
	margin-bottom: 1.5rem;
}

label {
	display: block;
	margin: .5rem 0;
}

select {
  @extend .form-border;
  &.custom-select {
    padding: .75rem .5rem;
		margin-bottom: 1rem;
		border-bottom: 1px solid black;
  }
}

.input-text,
[type="text"] {
	// font-size: 1.25rem;
	padding: .9rem .5rem;
	width: 100%;
	margin-bottom: 1rem;
  @extend .form-border;

	&:focus {
		background: transparent;
	}

	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: inherit !important;
		color: black !important;
		// color: red;
	  opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  color: inherit !important;
		color: black !important;
		// color: red;
	}

	::-ms-input-placeholder { /* Microsoft Edge */
	  color: inherit !important;
		color: black !important;
		// color: red;
	}

	background: transparent;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: inherit !important;
	color: black !important;
	// color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: inherit !important;
	color: black !important;
	// color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: inherit !important;
	color: black !important;
	// color: red;
}


.custom-control {
	padding-left: 2rem;

	.custom-control-label::before {
		width: 1.25rem;
		height: 1.25rem;
		border-radius: 0;
		left: -2rem;
		border-color: $black;
	}
	.custom-control-label::after {
		width: 1.25rem;
		height: 1.25rem;
		left: -2rem;
	}
}

.checkbox + label {
	cursor: pointer;
	padding: 0;
	position: relative;
	margin: 0 0;
	display: block;
	margin-bottom: .75rem
}

.checkbox + label span {
	display: inline-block;
	line-height: 1.5;
	padding-left: 30px;
}

.checkbox + label:before {
	background: #fff;
	content: "";
	display: inline-block;
	height: 20px;
	margin-bottom: 10px;
	margin-right: 20px;
	vertical-align: text-top;
	width: 20px;
	position: absolute;
	top: 4px;
  border: 1px solid rgba(0,0,0,0.2);
}

.checkbox:checked + label:after {
	// box-shadow: 2px 0 0 black,4px 0 0 black,4px -2px 0 black,4px -4px 0 black,4px -6px 0 black,4px -8px 0 black;
	// content: "";
	// height: 2px;
	// left: 5px;
	// position: absolute;
	// top: 9px;
	// -webkit-transform: rotate(45deg);
	// transform: rotate(45deg);
	// width: 2px;
	content: "✓";
	font-family: inherit;
	height: 20px;
	line-height: 20px;
	position: absolute;
	left: 0;
	top: 3px;
	width: 19px;
	font-size: 1em;
	font-weight: 500;
  // font-size: .875rem;
	text-align: center;
}

.bw {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.multiply {
	mix-blend-mode: multiply;
}

.hover-bw {
  &:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}

.hover-multiply {
  &:hover {
    mix-blend-mode: multiply;
  }
}

.reset-grayscale {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
.reset-blend-mode {
  mix-blend-mode: none;
}

.bw-hoverable {
  @extend .bw;
  @extend .multiply;
  transition: .3s linear all;
  &:hover {
    @extend .reset-grayscale;
  }
}

.bg-grey {
  background: #f0f0f0
}





/* dot style */
.vue-slider-dot-handle {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
	border: 2px solid black;

	@screen mobile {
		border: 1px solid black;
		transform: scale(1.5);
	}

}
.vue-slider-dot-handle-focus {
  box-shadow: 0px 0px 1px 2px rgba(52, 152, 219, 0.36);
}

.vue-slider-dot-handle-disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.vue-slider-dot-tooltip-inner {
  font-size: 14px;
  white-space: nowrap;
  padding: 2px 5px;
  min-width: 20px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border-color: #3498db;
  background-color: #3498db;
  box-sizing: content-box;
}
.vue-slider-dot-tooltip-inner::after {
  content: "";
  position: absolute;
}
.vue-slider-dot-tooltip-inner-top::after {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-top-color: inherit;
}
.vue-slider-dot-tooltip-inner-bottom::after {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-bottom-color: inherit;
}
.vue-slider-dot-tooltip-inner-left::after {
  left: 100%;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-left-color: inherit;
}
.vue-slider-dot-tooltip-inner-right::after {
  right: 100%;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-right-color: inherit;
}

.vue-slider-dot-tooltip-wrapper {
  opacity: 0;
  transition: all 0.3s;
}
.vue-slider-dot-tooltip-wrapper-show {
  opacity: 1;
}

/*# sourceMappingURL=default.css.map */

// .cta.format-button {
// 	background: red;
// }

.cta {
  @apply inline-block text-black transition duration-300 font-medium;
  span.label {
    @apply uppercase;
  }

  &.theme-default {
    @apply text-white;
    &:hover {
      @apply text-green;
    }
  }

  &.theme-black {
    @apply text-white;
    &:hover {
      @apply text-green;
    }
  }

  &.format-button {
    @apply mt-4 px-4 py-3 rounded-sm;

    &.theme-default {
      @apply bg-green text-white;
      &:hover {
        @apply bg-green-darker;
      }
    }

    &.theme-black {
      @apply bg-black text-white;
      &:hover {
        @apply bg-black text-green;
      }
    }
  }
}
