
@font-face {
    font-family:"Mabry Trial Light";
    src:url("MabryTrial-Light.woff2") format("woff2"),url("MabryTrial-Light.woff") format("woff"),url("MabryTrial-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        