.listing-table {

  width: 100%;

  .listing-header,
  .listing-row {
    display: flex;
    &:hover {

    }
  }

  .listing-header {
    font-weight: 500;
  }

  .listing-row {
    text-decoration: none;
    cursor: pointer;
    &:hover {
      // background: #eee;
      color: $primary
    }
  }

  .listing-field {
    text-decoration: none;
    width: 25%
  }
}
