
@font-face {
    font-family:"Mabry Trial Regular";
    src:url("MabryTrial-Regular.woff2") format("woff2"),url("MabryTrial-Regular.woff") format("woff"),url("MabryTrial-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        