
@font-face {
    font-family:"Mabry Trial Medium Italic";
    src:url("MabryTrial-MediumItalic.woff2") format("woff2"),url("MabryTrial-MediumItalic.woff") format("woff"),url("MabryTrial-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        