
@font-face {
    font-family:"Mabry Trial Italic";
    src:url("MabryTrial-Italic.woff2") format("woff2"),url("MabryTrial-Italic.woff") format("woff"),url("MabryTrial-Italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        