
@font-face {
    font-family:"Mabry Trial Medium";
    src:url("MabryTrial-Medium.woff2") format("woff2"),url("MabryTrial-Medium.woff") format("woff"),url("MabryTrial-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        