
@font-face {
    font-family:"Mabry Mono Trial Regular";
    src:url("MabryMonoTrial-Regular.woff2") format("woff2"),url("MabryMonoTrial-Regular.woff") format("woff"),url("MabryMonoTrial-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        