
@font-face {
    font-family:"Mabry Trial Black Italic";
    src:url("MabryTrial-BlackItalic.woff2") format("woff2"),url("MabryTrial-BlackItalic.woff") format("woff"),url("MabryTrial-BlackItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        